$def with (page)
<!--
    Author: Salvador Hernández Mendoza
    Email: salvadorhm@gmail.com
    https://github.com/salvadorhm/kuorra
    -->
<html>

<head>
    <title>Emergency Case Login</title>
    <meta http-equiv="refresh" content="60; url=/logout" />
    <link rel="icon" type="image/png" href="/static/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="max-age=0,no-cache,no-store,post-check=0,pre-check=0 must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <link href="../../static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="../../static/css/dataTables.bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span> Emergency Case</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    $if page.privilege == '-1':
                        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

                    $elif page.privilege == '0':
                        <li class='active'><a href="/"><span class="glyphicon glyphicon-user"></span> $page.username </a></li>
                        <li><a href="/users">Users</a></li>
                        <li><a href="/logs">Logs</a></li>
                        <li><a href="/usuarios">Usuarios</a></li>
                        <li><a href="/contactos">Contactos</a></li>
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

                    $elif page.privilege == '1':
                        <li class='active'><a href="/"><span class="glyphicon glyphicon-user"></span> $page.username </a></li>
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class='container'>
        <br><br> $:page
    </div>
    <div class="contenido">
    <P><BLOCKQUOTE>En la actualidad la percepción de inseguridad en el país  va en aumento,
         a tal grado que el 70% de la ciudadanía están a favor de usar el ejército 
         mexicano para combatir la inseguridad (Universal E. , 2018),
          el empleo de tecnologías podría disminuir la inseguridad.
         Es por eso que existe Emergency Case, Una aplicacion con el objetivo de
        enviar un mensaje de texto con la ubicacion actual del usuario, a los contactos que se hallan
        elegido con anterioridad.
    </BLOCKQUOTE> </P>
    <img src="/static/files/icono.jpg">
  
    </div>


    <div class="navbar  navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-text pull=left">
                <p> © Emergency Case 2019</p>
            </div>
        </div>
    </div>

</body>
<script src="../../static/js/jquery-1.12.4.js"></script>
<script src="../../static/js/dataTables.bootstrap.min.js"></script>
<script src="../../static/js/jquery.dataTables.min.js"></script>
<script src="../../static/js/bootstrap.js"></script>
<script src="../../static/js/control.js"></script>

</html>